@font-face {
  font-family: 'Envy Code R';
  src: url('../font/EnvyCodeR.eot');
  src: url('../font/EnvyCodeR.eot?#iefix') format('embedded-opentype'),
      url('../font/EnvyCodeR.woff2') format('woff2'),
      url('../font/EnvyCodeR.woff') format('woff'),
      url('../font/EnvyCodeR.ttf') format('truetype'),
      url('../font/EnvyCodeR.svg#EnvyCodeR') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Envy Code R';
  src: url('../font/EnvyCodeR-Bold.eot');
  src: url('../font/EnvyCodeR-Bold.eot?#iefix') format('embedded-opentype'),
      url('../font/EnvyCodeR-Bold.woff2') format('woff2'),
      url('../font/EnvyCodeR-Bold.woff') format('woff'),
      url('../font/EnvyCodeR-Bold.ttf') format('truetype'),
      url('../font/EnvyCodeR-Bold.svg#EnvyCodeR-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Envy Code R';
  src: url('../font/EnvyCodeR-Italic.eot');
  src: url('../font/EnvyCodeR-Italic.eot?#iefix') format('embedded-opentype'),
      url('../font/EnvyCodeR-Italic.woff2') format('woff2'),
      url('../font/EnvyCodeR-Italic.woff') format('woff'),
      url('../font/EnvyCodeR-Italic.ttf') format('truetype'),
      url('../font/EnvyCodeR-Italic.svg#EnvyCodeR-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-Bold.eot');
  src: url('../font/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../font/OpenSans-Bold.woff2') format('woff2'),
      url('../font/OpenSans-Bold.woff') format('woff'),
      url('../font/OpenSans-Bold.ttf') format('truetype'),
      url('../font/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-Regular.eot');
  src: url('../font/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../font/OpenSans-Regular.woff2') format('woff2'),
      url('../font/OpenSans-Regular.woff') format('woff'),
      url('../font/OpenSans-Regular.ttf') format('truetype'),
      url('../font/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-ExtraBoldItalic.eot');
  src: url('../font/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../font/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
      url('../font/OpenSans-ExtraBoldItalic.woff') format('woff'),
      url('../font/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
      url('../font/OpenSans-ExtraBoldItalic.svg#OpenSans-ExtraBoldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-BoldItalic.eot');
  src: url('../font/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../font/OpenSans-BoldItalic.woff2') format('woff2'),
      url('../font/OpenSans-BoldItalic.woff') format('woff'),
      url('../font/OpenSans-BoldItalic.ttf') format('truetype'),
      url('../font/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-SemiBold.eot');
  src: url('../font/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../font/OpenSans-SemiBold.woff2') format('woff2'),
      url('../font/OpenSans-SemiBold.woff') format('woff'),
      url('../font/OpenSans-SemiBold.ttf') format('truetype'),
      url('../font/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-Italic.eot');
  src: url('../font/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
      url('../font/OpenSans-Italic.woff2') format('woff2'),
      url('../font/OpenSans-Italic.woff') format('woff'),
      url('../font/OpenSans-Italic.ttf') format('truetype'),
      url('../font/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-ExtraBold.eot');
  src: url('../font/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../font/OpenSans-ExtraBold.woff2') format('woff2'),
      url('../font/OpenSans-ExtraBold.woff') format('woff'),
      url('../font/OpenSans-ExtraBold.ttf') format('truetype'),
      url('../font/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-SemiBoldItalic.eot');
  src: url('../font/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../font/OpenSans-SemiBoldItalic.woff2') format('woff2'),
      url('../font/OpenSans-SemiBoldItalic.woff') format('woff'),
      url('../font/OpenSans-SemiBoldItalic.ttf') format('truetype'),
      url('../font/OpenSans-SemiBoldItalic.svg#OpenSans-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-Light.eot');
  src: url('../font/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
      url('../font/OpenSans-Light.woff2') format('woff2'),
      url('../font/OpenSans-Light.woff') format('woff'),
      url('../font/OpenSans-Light.ttf') format('truetype'),
      url('../font/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-LightItalic.eot');
  src: url('../font/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../font/OpenSans-LightItalic.woff2') format('woff2'),
      url('../font/OpenSans-LightItalic.woff') format('woff'),
      url('../font/OpenSans-LightItalic.ttf') format('truetype'),
      url('../font/OpenSans-LightItalic.svg#OpenSans-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?94162162');
  src: url('../font/fontello.eot?94162162#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?94162162') format('woff2'),
       url('../font/fontello.woff?94162162') format('woff'),
       url('../font/fontello.ttf?94162162') format('truetype'),
       url('../font/fontello.svg?94162162#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?94162162#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-calendar:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook:before { content: '\f308'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-flickr:before { content: '\f16e'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-soundcloud:before { content: '\f348'; } /* '' */

